:root{
  --header-height: 80px;
  --footer-height: 120px;
  --section-margin: 75px;
  --section-margin-top: calc(var(--header-height) + var(--section-margin));
  --section-height: calc(100vh - 2 * (var(--header-height) + var(--section-margin)));
  --darkest: #202428;
  --bright: #778;
  --brightest: #f2f2ff;
  --blue: #3385ff;
}

@font-face {
  font-family: Inconsolata;
  src: url("Inconsolata.ttf");
}
@font-face {
  font-family: Rubik;
  src: url("Rubik.ttf");
}
html {
  height: 100%;
  scroll-behavior: smooth
}
body {
  background: var(--brightest);
  height: 100%;
  margin: 0;
  color: var(--darkest);
  font-family: Rubik, sans-serif;
  display: grid;
  grid-template-areas: "main" "footer";
  grid-template-rows: auto var(--footer-height);
  grid-template-columns: 100%;
}

header {
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;

  #toggle-menu {
      font-size: 1.75em;
  }

  .container {
      grid-template-areas: "title menu";
      grid-template-columns: repeat(2, minmax(0, 1fr));
      > div {
        display: flex;
      }
  
      .menu {
        justify-content: right;
      }
  
      #toggle-menu {
        display: none;
      }
  
      .navbar, .navbar.closed {
        display: flex;
  
        .menu-separator {
          display: inline-block;
          margin: 0 10px;
        }
      }
  }
}


main {
  grid-area: main;

  a {
    text-decoration: none;
    color: var(--blue);
  }

  section {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: var(--section-margin-top);
    padding-bottom: var(--section-margin-top);
    width: 90%;
    max-width: 1200px;
    min-height: var(--section-height);

    article {
      line-height: 2em;

      p {
        text-align: justify;
      }
    }
  }

  #about-me {
    text-align: center;
  }

  #blog, #portfolio {

    .container {
      display: grid;
      grid-template-areas: "post post post";
      grid-template-columns: repeat(3, minmax(0, 1fr));
      column-gap: 50px;
    }
    article {
      a {
        color: var(--darkest);

        &:hover {
          color: var(--blue);
        }
      }

      .pub-date, .tags {
        color: var(--bright);
        text-align: right;
      }

      .pub-date {
        margin-bottom: 0;
      }

      .tags {
        margin-top: 0;
        font-size: 0.8em;
      }

      .preview, .description {
        text-align: justify;
      }
    }
  }
}

footer {
  grid-area: footer;
  height: var(--footer-height);
  justify-items: center;
  display: flex;
  flex-direction: column;

  h2 {
    font-size: 1em;
    font-weight: bold;    
  }

  #links {
    display: flex;
    flex-direction: column;
    align-items: center;

    a {
      width: fit-content;
      align-items: center;
      display: flex;
      font-size: 0.9em;

      svg {
        margin-right: 5px;
      }
    }
  }
}

header, footer {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: var(--darkest);
  color: var(--brightest);
  font-family: Inconsolata, monospace;

  a {
    text-decoration: none;
    color: var(--brightest);
    fill: var(--brightest);

    &:hover, &:hover > svg {
      color: var(--blue);
      fill: var(--blue)
    }
  }

  ul {
    padding: 0;
  
    li {
      list-style: none;
    }
  }

  .container {
    display: grid;
    align-items: center;
    max-width: 1200px;
    width: 90%;
    margin: auto auto;
  }
}

@media only screen and (max-width: 960px) {
  header .container {
      #toggle-menu {
          display: inline-block;
          height: fit-content;
          width: fit-content;
          background-color: transparent;
          color: var(--brightest);
          border-style: none;
          font-weight: bold;
        
          &:hover {
              color: var(--blue);
              cursor: pointer;
          }
      }

      .navbar.closed {
          visibility: hidden;
          opacity: 0;
      }

      .navbar {
          position: fixed;
          visibility: visible;
          opacity: 1;
          transition: visibility 0s ease-in 0ms, opacity 500ms;
          margin: 0;
          top: var(--header-height);
          left: 0;
          flex-direction: column;
          width: 100%;
          height: 100vh;
          background-color: var(--darkest);
          font-size: 1.5em;
          row-gap: 20px;

          li {
              display: flex;
              flex-direction: column;
              align-items: center;
              width: 90%;
              margin: 0 auto;
          }

          .menu-separator {
              display: none !important;
          }
      }
  }

  main section, header .container, footer .container {
      max-width: 600px;
  }

  main {
    #blog, #portfolio {
          .container {
              display: grid;
              grid-template-areas: "post" "post" "post";
              grid-template-columns: minmax(0, 1fr);
              column-gap: 0;
              row-gap: 20px;
          }
      }
  }
}